/**************************************************
Fonts
Droid Serif
Droid Sans
Droid Sans Mono

Font Scaling
6.854rem
4.236rem
2.618rem
1.618rem
1.0rem
0.618rem

Colour scheme

**************************************************/

@import url('https://fonts.googleapis.com/css?family=Neuton|Montserrat');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Neuton', Georgia, serif;
}

body {
    background-color: #EAEED9;
}

/***************************
DEFAULTS - MOBILE FIRST
***************************/

h1 {
    font: bold 4.236rem 'Montserrat', Helvetica, sans-serif;
    color: white;
    text-align: center;
}
h2 {
    font: bold 2.618rem 'Montserrat', Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 2rem 0 2rem 0;
}
li,
p,
a {
    font: bold 1.68rem 'Neuton', Georgia, serif;
    line-height: 2rem;
}
pre,
code,
kbd {
    font: normal 1.0rem 'Neuton', Georgia, serif;
}

/***************************
    LAYOUT - MOBILE FIRST
***************************/

.wrapper {
    width: 95%;
    margin: 0 auto;
}
header {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 100px;
    background: url(https://unsplash.it/4000/2667?image=885) no-repeat center;
    background-size: cover;
}
nav {
    width: 90%;
    margin: 0 auto 0 auto;
}

nav li {
    width: 100%;
    list-style: none;
    background-color: #333;
}
nav a,
nav a:link,
nav a:visited {
    color: white;
    padding: 10px;
    display: block;
    font: bold 1.25rem 'Hind', 'more font stack stuff', sans-serif;
    text-align: center;
    text-decoration: none;
    border-bottom: white 1px solid;
}
nav a:active,
nav a:focus,
nav a:hover {
  color: darkgrey;
}
main {
    width: 100%;

}
.col {
    float: none;
    width: 100%;
    text-align: center;
}
.col p {
    margin-bottom: 2rem;
}

.col img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 2rem auto;
    border-radius: 50%;
}

footer, footer ul {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    list-style-type: none;
}


footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
  color: darkgrey;
}

/* tablet view */
@media screen and (min-width:600px) {

    wrapper {
      width: 100%;
    }
    header {
      width: 100%;
    }
    nav {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    nav li{
      display: inline;
      width: 20%;
      float: left;
    }
    main {
      width: 90%;
    }

    .col {
      width: 50%;
      padding: 0;
    }

    .col.first {
      padding: 0;
      float: left;

    }
    .col img {
      width: 60%;
      float: left;
      word-wrap: normal;
      padding: 0;
    }
    .col.second {
      float: right;
      padding: 0;
      margin: 0;
    }

    footer{
      width: 100%;
      float: left;
      margin: auto;
    }

}

/* Desktop view */
@media screen and (min-width: 800px) {

  a {
    color: black;
  }
  header{
    width: 100%;
  }
  nav a,
  nav a:link,
  nav a:visited {
    color: black;
    border-bottom: none;
  }
  nav a:active,
  nav a:focus,
  nav a:hover {
    color: darkgrey;
  }
  nav {
    width: 90%;
    margin: 0;
  }

  nav li {
    width: 20%;
    background-color: #EAEED9;
  }

  main {
    width: 90%;
  }

  .col {
    width: 50%;
  }

  .col img {
    width: 50%;
  }

  footer {
    width: 100%;
  }

}

/* Large Desktop view */
@media screen and (min-width: 1200px) {
    nav {
      width: 30%;
      float: left;
      display: block;
      margin: 0;
    }
    .mainnav nav a {
      color: #333;
    }
    .mainnav li {
      width: 100%;
      border-bottom: none;
    }
    .main {
      width: 70%;
      float: right;
    }
    .col {
      width: 50%;
    }
    .col img {
      width: 55%;
    }
}
